<%-#= form_with(model: employee, local: true) do |form| %>
<%= form_for([@store, employee]) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name, class: "form-control width20" %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :employee_surname, class: "form-control width20" %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.text_field :phone_num, id: :employee_phone_num, class: "form-control width20" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :employee_email, class: "form-control width20" %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.select  :position, position_options,{:include_blank => true}, {class: "form-control form-control-sm width20"} %>
  </div>

  <div class="field">
    <%= form.label :work_time %>
    <%= form.select  :work_time, work_time_options,{:include_blank => true}, {class: "form-control form-control-sm width20"} %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
