<p id="notice"><%= notice %></p>

<h1><%= @store.name %> staff </h1>
<% if !@store.employees.empty? %>
<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone num</th>
      <th>Email</th>
      <th>Position</th>
      <th>Work time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.store.name %></td>
        <td><%= employee.name %></td>
        <td><%= employee.surname %></td>
        <td><%= employee.phone_num %></td>
        <td><%= employee.email %></td>
        <td><%= employee.position %></td>
        <td><%= employee.work_time %></td>
        <td><%= link_to 'Show', [ @store, employee ] %></td>
        <td><%= link_to 'Edit', edit_store_employee_path( @store, employee )  %></td>
        <td><%= link_to 'Destroy', [ @store, employee ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
    <p><%= @store.name %> hasn't any staff yet.</p>
<% end %>
<%= link_to 'New Employee', new_store_employee_path(@store) %>|
<%= link_to 'Back', @store %>