<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :store_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :store_address %>
  </div>

  <div class="field">
    <%= form.label :phone_num %>
    <%= form.text_field :phone_num, id: :store_phone_num %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :store_email %>
  </div>

  <div class="field">
    <%= form.label :opening_hours %>
    <%= form.text_area :opening_hours, id: :store_opening_hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
