<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Employees</th>
      <th scope="col">Warehouses</th>
      <th scope="col">Open hours</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.phone_num %></td>
        <td><%= store.email %></td>
        <td><%= store.employees.count %></td>
        <td><%= store.warehouses.count %></td>
        <td><%= store.opening_hours %></td>

            <td><%= link_to 'Show', store, class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Edit', edit_store_path(store), class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Item list', item_list_store_path(store), class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Employees', store_employees_path(store), class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Delete Store', store, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn  btn-sm delete" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path, class: "btn btn-primary"  %>

