<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone_num %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Open hours:</strong>
  <%= @store.opening_hours %>
</p>
<% if @store.employees.any? %>
<p>
  <strong>Employees:</strong>

<table class="table table-sm width50">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Position</th>
  </tr>
  </thead>

  <tbody>
  <% @store.employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.surname %></td>
        <td><%= employee.position %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</p>
<% end %>
<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-primary " %>
<%= link_to 'Employees', store_employees_path(@store), class: "btn btn-primary " %>
<%= link_to 'Back', stores_path, class: "btn btn-primary " %>
