<!DOCTYPE html>
<html>
  <head>
    <title>StoreManager</title>
    <%= csrf_meta_tags %>

    <% begin %>
        <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <% rescue %>
        <script>
            window.location.replace("#{user_session_url()}")
        </script>
    <% end %>
  </head>

  <body>
  <% if false %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= value %>
        </div>
    <% end %>
  <% end %>

  <%= render 'navigation' %>
  <%= yield %>
  </body>
</html>
